body {
  border: 0;
  margin: 0; }

.section-heading {
  margin: 20px 0 60px;
  font-size: 35px;
  display: inline-block;
  position: relative; }
  .section-heading:after {
    content: '';
    width: 50%;
    height: 5px;
    border-top: 1px dotted #000;
    border-bottom: 1px dotted #000;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%); }

.top-trending {
  padding: 20px 0; }
  .top-trending .trending-products {
    height: 200px;
    margin: 0 0 30px;
    overflow: hidden;
    cursor: pointer; }
    .top-trending .trending-products:hover img {
      filter: grayscale(0);
      transition: all 250ms linear; }
    .top-trending .trending-products img {
      filter: grayscale(100%);
      transition: all 250ms linear; }

.section-chooseus {
  padding: 20px 0;
  background-color: #f1f1f1; }

.tc-wrapper {
  height: 250px;
  margin: 0 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 15px 0 rgba(46, 61, 73, 0.2);
  transition: all 200ms linear;
  background-color: #fff;
  position: relative;
  cursor: pointer; }
  .tc-wrapper:hover {
    box-shadow: 3px 3px 15px 0 rgba(46, 61, 73, 0.4);
    transition: all 200ms linear; }
  .tc-wrapper .icon {
    background: url("https://npimg2.bluestone.com/resources/themes/bluestone/images/new/new-icons-sprite.png") no-repeat 0 0;
    display: inline-block;
    width: 101px;
    height: 100px;
    filter: grayscale(100%); }
    .tc-wrapper .icon.certified-icon {
      width: 113px;
      background-position: 2px 0; }
    .tc-wrapper .icon.refund-icon {
      width: 80px;
      background-position: -116px 11px; }
    .tc-wrapper .icon.exchange-icon {
      background-position: -188px 10px; }
    .tc-wrapper .icon.shipping-icon {
      width: 130px;
      background-position: 3px -95px; }
    .tc-wrapper .icon.athome-icon {
      width: 97px;
      background-position: -124px -91px; }
    .tc-wrapper .icon.store-icon {
      width: 115px;
      background-position: -211px -94px; }
  .tc-wrapper:hover:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9); }
  .tc-wrapper:hover .tc-detail {
    transform: translate(-50%, -50%) scale(1);
    transition: all 250ms linear;
    opacity: 1; }

.tc-detail {
  width: 100%;
  padding: 0px 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 250ms linear;
  color: #fff;
  z-index: 1;
  text-align: center;
  opacity: 0; }
  .tc-detail .btn-readmore {
    border-radius: 0;
    border-color: #fff;
    background-color: transparent;
    color: #fff;
    transition: all 200ms linear;
    outline: none;
    box-shadow: none; }
    .tc-detail .btn-readmore:hover {
      background-color: #fff;
      color: #000;
      transition: all 200ms linear; }

.customer-says {
  padding: 20px 0; }
  .customer-says .client-img-wrapper {
    border-right: 1px solid #ddd;
    padding: 80px 0; }
    .customer-says .client-img-wrapper img {
      margin: 0 auto; }
    .customer-says .client-img-wrapper:before {
      content: '';
      border-top: 50px solid transparent;
      border-left: 50px solid #ddd;
      border-bottom: 50px solid transparent;
      position: absolute;
      top: 50%;
      right: -35px;
      transform: translateY(-50%); }
    .customer-says .client-img-wrapper:after {
      content: '';
      border-top: 49px solid transparent;
      border-left: 49px solid #fff;
      border-bottom: 49px solid transparent;
      position: absolute;
      top: 50%;
      right: -33px;
      transform: translateY(-50%); }
  .customer-says .client-review {
    padding: 65px 0 65px 70px; }
  .customer-says .carousel-control.left, .customer-says .carousel-control.right {
    background-image: none; }
  .customer-says #testimonail {
    border: 1px solid #ddd; }
  .customer-says .glyphicon-chevron-left:before {
    color: #000; }
  .customer-says .glyphicon-chevron-right:before {
    color: #000; }
