@model SJModel.ProductModel.ProductItem
<html>

<head>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/semantic.js"></script>
    <script src="~/Scripts/Pages/Product/ProductMgmt.js"></script>

    <link href="~/Content/Semantic_UI/semantic.min.css" rel="stylesheet" />
   
</head>

<body>

    <div class="container">
        <div class="ui segment white">
            <div class="ui label">
                Put menu and other logo parts here
            </div>
        </div>

       
        <div class="ui container">
            <div class="ui segment white">
                <div class="ui header">
                    Create Product
                </div>
                <div class="ui segment white">
                    <div class="ui form center">
                        <div>


                            <div class="three fields">
                                <div class="field">
                                    <label for="txtProductCreation">Date</label>
                                    <input type="text" id="txtProductCreation" placeholder="Product Creation Date">
                                </div>
                                <div class="field">
                                    <label for="txtDesignNo">Design No</label>
                                    <input type="text" id="txtDesignNo" placeholder="Design No">
                                </div>
                                <div class="field">
                                    <label for="txtDyeNo">DYE No</label>
                                    <input type="text" id="txtDyeNo" placeholder="Dye No">
                                </div>
                            </div>

                            <div class="two fields">

                                <div class="field">
                                    <label for="txtStyleNo">Style No</label>
                                    <input type="text" id="txtStyleNo" placeholder="Design No">
                                </div>
                                <div class="field">
                                    <label for="inputEmail4">Category</label>
                                    <select class="ui dropdown" id="selectCategory" onchange="getSubCategory()">

                                        <option value="0">Select</option>
                                        @if (Model.Categories != null)
                                  {
                                          foreach (var category in Model.Categories)
                                          {
                                                <option value="@category.ProductCategoryId">@category.ProductCategoryName</option>
                                          }
                                  }
                                    </select>
                                </div>

                            </div>

                            <div class="ui segment white" style="display:none;" id="subcategorySection">

                            </div>


                            <div class="three fields">
                                <div class="field">
                                    <label for="txtProductCode">Product Code</label>
                                    <input type="text" id="txtProductCode" placeholder="Product Code">
                                </div>
                                <div class="field">
                                    <label for="txtMasterWt">Master Wt</label>
                                    <input type="text" id="txtMasterWt" placeholder="Master Weight">
                                </div>
                                <div class="field">
                                    <label for="txtMaxWeight">Wax Weight</label>
                                    <input type="text" id="txtMaxWeight" placeholder="Max Weight" >
                                </div>
                            </div>




                            <div class="ui segment white">
                                <div class="inline four fields">
                                    <div class="ui field"><label>Display option:</label></div>
                                    <div class="field">
                                        <div class="ui checkbox">
                                            <input type="checkbox" id="chkB2bDisplayOption">
                                            <label for="chkB2bDisplayOption">B2B</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui checkbox">
                                            <input id="chkB2bExclusiveDisplayOption" type="checkbox" />
                                            <label for="chkB2bExclusiveDisplayOption">B2b Exclusive</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui checkbox">
                                            <input id="chkB2cDisplayOption" type="checkbox" />
                                            <label for="chkB2cDisplayOption">B2C</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="ui segment white">
                                <div class="ui small header"> <label>Finding weight (in gm)</label></div>
                                <div class="three fields"></div>
                                @if (Model.Findings != null)
                            {
                                 for (int a = 0; a < Model.Findings.Count; a = a + 3)
                                 {
                                        <div class="three fields">
                                            @for (int b = a; b < a+3; b++)
                                   {
                                       if (b < Model.Findings.Count)
                                       {
                                                    <div class="field">
                                                        <label for="txtPostFinding_@Model.Findings[b].FindingId">@Model.Findings[b].FindingName</label>
                                                        <input class="findings" type="text" id="txtPostFinding_@Model.Findings[b].FindingId" placeholder="0.00" name="findings" />
                                                    </div>
                                       }
                                   }
                                        </div>
                                 }
                                    <div class="clear"></div>
                                    <div class="fields">
                                        <div class="field">
                                            <label>
                                                Total finding wt
                                            </label>
                                            <input type="text" id="txtTotalFindingWeight" value="0.00" readonly />
                                        </div>
                                    </div>
                            }

                            </div>


                            <div class="ui segment white">
                                <div class="inline four fields">
                                    <div class="ui field"><label>Product available in:</label></div>
                                    <div class="field">
                                        <div class="ui checkbox">
                                            <input type="checkbox" id="chk14KtOption">
                                            <label for="chk14KtOption">14KT</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui checkbox">
                                            <input id="chk18KtOption" type="checkbox" />
                                            <label for="chk18KtOption">18KT</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui checkbox">
                                            <input id="chk22KtOption" type="checkbox" />
                                            <label for="chk22KtOption">22KT</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="four fields">
                                    <div class="ui field"><label>Extimated weight:</label></div>
                                    <div class="field">
                                        <input type="text" id="txt14KtExtimatedWeight" placeholder="14 kt" readonly />
                                    </div>

                                    <div class="field">
                                        <input type="text" id="txt18KtExtimatedWeight" placeholder="18 kt" readonly />
                                    </div>
                                    <div class="field">
                                        <input type="text" id="txt22KtExtimatedWeight" placeholder="22 kt" readonly />
                                    </div>
                                </div>
                            </div>



                            <div class="ui segment white">
                                <div class="four fields ui small header">
                                    <label>Stones Weithg & discounts </label>
                                </div>

                                <div class="four fields">

                                    <div class="two wide field">
                                        <label></label>
                                    </div>

                                    <div class="two wide field">
                                        <label></label>
                                    </div>

                                    <div class="six wide field">
                                        <label>Stone Weight</label>
                                    </div>

                                    <div class="six wide field">
                                        <label>Stone Discount</label>
                                    </div>

                                </div>
                                @foreach (var stones in Model.Stones)
                                {

                                    <div class="four fields">
                                        <div class="two wide field">
                                            <label></label>
                                        </div>

                                        <div class="two wide field">
                                            <label>@stones.StoneName</label>
                                        </div>
                                        <div class="six wide field">
                                            <input type="text" class="form-control stoneWt" id="txtSmallStoneWeight_@stones.StoneId" name="stoneWeight" placeholder="0.00" />

                                        </div>
                                        <div class="six wide field">
                                            <input type="text" class="form-control stoneDisc" id="txtSmallStoneDiscount_@stones.StoneId" name="stoneDiscount" placeholder="0.00" />
                                        </div>
                                    </div>


                                }

                                <div class="ui divider"></div>
                                <div class="two fields">
                                    <div class="field">
                                        <label>Total Stone Wt</label>
                                        <input type="text" id="txtTotalStoneWt" value="0.0" readonly />
                                    </div>
                                    <div class="field">
                                        <label>Total Discount</label>
                                        <input type="text" id="txtTotalStoneDiscount" value="0.0" readonly />
                                    </div>
                                </div>

                            </div>


                            <div class="ui segment white">
                                <label class="ui small header">Gross Weight</label>
                                <div class="three fields">
                                    <div class="field">
                                        <label>14KT Weight</label>
                                        <input type="text" id="txtGrossWt14Kt" value="0.0" readonly />
                                    </div>
                                    <div class="field">
                                        <label>18KT Weight</label>
                                        <input type="text" id="txtGrossWt18Kt" value="0.0" readonly />
                                    </div>
                                    <div class="field">
                                        <label>22KT Weight</label>
                                        <input type="text" id="txtGrossWt22Kt" value="0.0" readonly />
                                    </div>
                                </div>
                            </div>



                            <div class="ui segment white">
                                <label class="ui small header">Net Weight</label>
                                <div class="three fields">
                                    <div class="field">
                                        <label>14KT Weight</label>
                                        <input type="text" id="txtNetWt14Kt" placeholder="0.0" readonly />
                                    </div>
                                    <div class="field">
                                        <label>18KT Weight</label>
                                        <input type="text" id="txtNetWt18Kt" placeholder="0.0" readonly />
                                    </div>
                                    <div class="field">
                                        <label>22KT Weight</label>
                                        <input type="text" id="txtNetWt22Kt" placeholder="0.0" readonly />
                                    </div>
                                </div>
                            </div>



                            <div class="ui segment center align" style="text-align:center;">
                                <div class="ui submit button large blue" id="btnSave">Save</div>
                                <div class="ui submit button large blue" id="btnSave">Cancel</div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>


    </div>

</body>
</html>

